<div id="navigation_bar">
  <ul id="nav_links">
    <li><%= link_to "Link 1", root_path %></li>
    <li><%= link_to "Link 2", root_path %></li>
    <li><%= link_to "Link 3", root_path %></li>
    <li><%= link_to "Link 4", root_path %></li>
  </ul>
  <%= render :partial => "shared/user_bar" %>
</div>